* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(46, 123, 255);
    --secondary-color: rgb(155, 192, 255);
    --font: "Helvetica";
}

body {
    font-family: var(--font);
    background-color: white;
    display: flex;
    flex-direction: column;
}

header {
    font-size: 2rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}

header nav ul{
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 30rem
}

main {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
}

main #hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#hero h1{
    font-size: 4rem;
}

#hero p{
    font-size: 2rem;
}

#hero input, button {
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid black
}

main #features {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.info {
    justify-self: center;
    align-self: center;
    width: 50rem;
    max-width: 50rem;
    min-width: 25rem;
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 3rem;
    /*margin: 5rem auto;*/
}

footer {
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 100vh;
}

footer nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 30rem
}